/* Main */
.wrapper > .main {
  @apply h-full w-full flex flex-row relative;
}

.kanban {
  @apply relative w-4/5 top-0 bottom-0 pt-[1.5rem] flex overflow-x-scroll overflow-y-scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.kanban::-webkit-scrollbar {
  display: none;
}

.status {
  @apply w-[17.5rem] flex flex-col ml-[2rem];
}

.status-title {
  @apply flex flex-row gap-x-4 mb-8;
}

.status .status-title > p {
  @apply w-full text-xs font-bold text-textColor tracking-[0.15em];
}

.status-cards {
  @apply flex flex-col gap-y-6;
}

.status-cards > div {
  @apply w-full h-[6.25rem] rounded-lg pt-[1.7rem] px-4 flex flex-col gap-y-2;
  @apply bg-background2 dark:bg-background2-dark border border-borderColor dark:border-borderColor-dark shadow-md dark:shadow-slate-700;
}

.status-cards-none {
  @apply w-full h-4/5 border-2 border-borderColor border-dashed rounded-lg border-opacity-40
}

.status-add {
  @apply w-[17.5rem] h-4/5 rounded-lg mt-[3rem] ml-[2rem];
  @apply bg-gradient-to-b from-[#cee6fb55] via-[#cee6fb55] dark:from-[#79849333] dark:via-[#828fa31a] to-transparent;
  @apply text-textColor hover:text-opacity-65 dark:text-opacity-100 dark:hover:text-themeColor-hover text-3xl font-bold flex justify-center items-center
}